In [5]:
def strictly_increasing(lst):
    """
    Write a function that takes in a list of integers and 
    returns a new list containing only the numbers that are
    in increasing order. Numbers should appear in the same 
    order in the input and output list.
    
    >>> increasing([1, 3, 2, 4, 5, 8, 7, 6, 9])
    [1, 3, 4, 5, 8, 9]
    >>> increasing([5, 4, 3, 2, 1])
    [5]
    """
    output = []
    for num in lst:
        if len(output) == 0:
            output.append(num)
        elif num > output[-1]:
            output.append(num)
    return output
print(strictly_increasing([1, 3, 2, 9, 5, 8, 9, 6, 10]))

[1, 3, 9, 10]

In [2]:
strictly_increasing([5,4,3,2,1])

[5]

Write a function that takes in a list of integers and uses a for loop to return a new list containing only the numbers that are in increasing order. Numbers should appear in the same  order in the input and output list.

In [8]:
def strictly_increasing(lst):
    """
    >>> increasing([1, 3, 2, 4, 5, 8, 7, 6, 9])
    [1, 3, 4, 5, 8, 9]
    >>> strictly_increasing([5,4,3,2,1])
    []
    """

In [7]:
def strictly_increasing_comp(lst):
    """
    >>> strictly_increasing([1, 3, 2, 4, 5, 8, 7, 6, 9])
    [1, 3, 4, 5, 8, 9]
    >>> strictly_increasing([5,4,3,2,1])
    []
    """
    return [lst[0]] + [lst[i] for i in range(1, len(lst)) if lst[i] > lst[i-1]]
strictly_increasing_comp([1, 3, 2, 9, 5, 8, 9, 6, 10])

[5]

In [8]:
lst = [2,4,9, 'str', 'temp']

In [9]:
[x for x in lst if (isinstance(x,int) and x%3==0) or (isinstance(x, str) and len(x)%3==0)]

[9, 'str']

Write a function that takes in a list of integers and uses
a <b>list comprehension</b> to
return a new list containing only the numbers that are
in increasing order. Numbers should appear in the same 
order in the input and output list.

In [7]:
def strictly_increasing_comp(lst):
    """
    >>> strictly_increasing([1, 3, 2, 4, 5, 8, 7, 6, 9])
    [1, 3, 4, 5, 8, 9]
    >>> strictly_increasing([5,4,3,2,1])
    []
    """

Given the following dictionary, write an expression that results in 'white'

In [13]:
nested_dict = {"ocean": {"waves": "calm", "island": {"beach": {"sand": "white"}},"climate": "tropical"}}

In [18]:
nested_dict['ocean']['island']['beach']['sand']

'white'

In [19]:
def recursive_palindrome(word):
    """
    >>> recursive_palindrome('racecar')
    True
    >>> recursive_palindrome('chatgpt')
    False
    """
    # Write your implementation here
    if len(word) <= 1:
        return True
    else:
        return all([recursive_palindrome(word[1:-1]), word[0] == word[-1]])

print(recursive_palindrome('racecar'))
print(recursive_palindrome('chatgpt'))

True
False

given the following file, process the data into a dictionary. The dictionary should have the bookstore name as keys and the remaining values in a list.

In [84]:
with open('data.txt', 'r') as f:
    print(f.read())

name,city,year,books
Bright Books,New York,1995,4500
Page Turners,San Francisco,2001,6000
Literary Haven,Chicago,1980,7000
The Reading Room,Boston,2005,5300
Bookworm's Paradise,Los Angeles,1975,4800
Novel Ideas,Seattle,2001,7000

In [3]:
def process_bookstores(filepath):
    """
    >>> proces_bookstores('data'txt)
    {'Bright Books': ['New York', '1995', '4500'],
    'Page Turners': ['San Francisco', '2001', '6000'],
    'Literary Haven': ['Chicago', '1980', '7000'],
    'The Reading Room': ['Boston', '2005', '5300'],
    "Bookworm's Paradise": ['Los Angeles', '1975', '4800'],
    'Novel Ideas': ['Seattle', '2001', '7000']}
    """
    
    with open(filepath, 'r') as f:
        f.readline()
        data = f.readlines()
        return {store.strip().split(',')[0]:store.strip().split(',')[1:] for store in data}

In [11]:
def process_bookstores(filepath):
    """
    >>> proces_bookstores('data'txt)
    {'Bright Books': ['New York', '1995', '4500'],
    'Page Turners': ['San Francisco', '2001', '6000'],
    'Literary Haven': ['Chicago', '1980', '7000'],
    'The Reading Room': ['Boston', '2005', '5300'],
    "Bookworm's Paradise": ['Los Angeles', '1975', '4800'],
    'Novel Ideas': ['Seattle', '2001', '7000']}
    """
    
    with open(filepath, 'r') as f:
        f.readline()
        data = f.read().strip().split('\n')
        return {store.split(',')[0]:store.split(',')[1:] for store in data}

In [12]:
output = process_bookstores('data.txt')
output

{'Bright Books': ['New York', '1995', '4500'],
 'Page Turners': ['San Francisco', '2001', '6000'],
 'Literary Haven': ['Chicago', '1980', '7000'],
 'The Reading Room': ['Boston', '2005', '5300'],
 "Bookworm's Paradise": ['Los Angeles', '1975', '4800'],
 'Novel Ideas': ['Seattle', '2001', '7000']}

Given this result, use a map/filter/lambda expression to pull out the cities in which there's a bookstore that was opened after 2000 and has more than 5500 books sold.

In [87]:
def process_data(dct):
    """
    >>> process_data(process_bookstores('data.txt'))
    ['San Francisco', 'Seattle']
    """
    
    year_filter = filter(lambda x: int(dct[x][1]) > 2000, dct)
    book_filter = filter(lambda x: int(dct[x][2]) > 5500, year_filter)
    
    return list(map(lambda x: dct[x][0], book_filter))

In [88]:
process_data(output)

['San Francisco', 'Seattle']

Write a function that processes an unknown number of inputs and keyworded inputs. It should return the sum, count, and mean of the regular inputs and create a dictionary with the keyworded inputs

In [92]:
def ingest_data(*nums, **vals):
    """
    >>> ingest_data(1,2,3,4,marina='1',nikki='2')
    (10, 4, 2.5, {'marina': '1', 'nikki': '2'})
    """
    
    return sum(nums), len(nums), sum(nums)/len(nums), dict(vals)

In [93]:
ingest_data(1,2,3,4,marina=1,nikki=2)

(10, 4, 2.5, {'marina': 1, 'nikki': 2})

Write a function that can validate the inputs to ingest_data

In [95]:
def data_validator(nums,vals):
    
    
    assert all([(isinstance(x, int) or isinstance(x, float)) for x in nums])
    assert all([isinstance(k,str) for k in vals]) and all([isinstance(v, str) for v in vals.values()])
    return 'passed!'

In [98]:
def ingest_data(*nums, **vals):
    data_validator(nums, vals)
    return sum(nums), len(nums), sum(nums)/len(nums), dict(vals)

In [102]:
ingest_data(1,2,3,4,marina='1',nikki='2')

(10, 4, 2.5, {'marina': '1', 'nikki': '2'})

Create a python class to represent a book.

In [1]:
class book:
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year

    def __str__(self):
        return f"{self.title} by {self.author} ({self.year})"

    def __repr__(self):
        return f"Book('{self.title}', '{self.author}', {self.year})"
    
    def __lt__(self, other_book):
        return self.year < other_book.year

In [2]:
class horror(book):
    def __init__(self,title,author,year,genre='horror'):
        super().__init__(title,author,year)
        self.genre = genre
    def __str__(self):
        return f'{self.title} says boo!'

In [14]:
book1 = Book("1984", "George Orwell", 1949)
book2 = horror("IT", "Stephen King", 1986)
book3 = book1

In [19]:
# what is the output?
book1.genre == book2.genre

AttributeError: 'Book' object has no attribute 'genre'

In [15]:
# what is the output?
book1 < book2

True

In [16]:
# what is the output?
isinstance(book2, book)

True

In [17]:
book3 is book1

True

In [18]:
book3 == book1

True

In [21]:
def safe_divide(a,b):
    try:
        output = a/b
    except ZeroDivisionError as e:
        return 'divided by zero'
    except TypeError as e:
        return 'dividing by a non-number'
    else:
        return output

In [22]:
safe_divide(1,2)

0.5

In [23]:
safe_divide(1,0)

'divided by zero'

In [25]:
safe_divide(1,'a')

'dividing by a non-number'

In [26]:
'write doctests for this function'

'write doctests for this function'

Why are assert statements alone insufficient? I.E. Why do we use try-except?

I want to run my written doctests from a file named ```homework.py```. Write the command I'd use.

In [5]:
def squared_lst(*nums):
    return map(lambda x: x**2, nums)

In [7]:
list(squared_lst(1,2,3))

[1, 4, 9]