**note**: for anyone trying to view this as a slideshow, run 'pip install rise', reload your notebook, then click on the button that looks like a bar graph to the right of the command palette at the top.

<center><h1>Discussion 4</h1></center>
<center><h2>DSC 20, Winter 2024</h2><center>

<center><h2>Meme of the week</h2></center>

<center><img src='imgs/meme.png' width=500></center>

<center><h2>Agenda</h2></center>
<ul>
    <li> Skill Check</li>
    <li> <b>Content</b> </li>
    <ul>
        <li> lambda
        <li> iterators
        <li> map
        <li> filter
    </ul>
    <li> Practice Questions </li>
</ul>

<center><h3>Skill Test 2</h3></center>

<center>A fair amount of students complained to me that skill test #2 was too hard, let's take a look at that.</center>

<center>note to self: chatgpt</center>

<center><h3> Skill 1 (Populate Dictionary)</h3></center>
<center>Write a function populate_dict that takes in a list of tuples that each contain a key and a value (ex: [(key1, val1), (key2, val2)...]. The function should add each pair to the dictionary and return the final dictionary with all the key-value pairs.</center>

In [2]:
def populate_dict(lst):
    """
    Function to add all elements in lst to a dictionary.

    args:
        lst (list): list of tuples containing (key, value) pairs
    returns:
        a dictionary populated with all key, value pairs

    >>> populate_dict([('DSC20', 'Python'), ('DSC10', 'Baby pandas'), \
    ('DSC30', 'Java')])
    {'DSC20': 'Python', 'DSC10': 'Baby pandas', 'DSC30': 'Java'}
    """

<center><h3>Select the correct way to implement the above function</h3></center>

A. 
```
return dict(lst)
```
B.
```
output = {}
for i in lst:
    output[i[0]] = i[1]
    return output
```
C.
```
output = {}
for i in lst:
    output[i[0]] = i[1]
return output
```
D. 
```
output = {}
for i in lst:
    for x,y in i:
        output[x] = y
return output
```

<center><h3> Skill 1 Solution</h3></center>

In [4]:
def populate_dict(lst):
    return dict(lst)
populate_dict([('DSC20', 'Python'), ('DSC10', 'Baby pandas'), ('DSC30', 'Java')])

{'DSC20': 'Python', 'DSC10': 'Baby pandas', 'DSC30': 'Java'}

In [5]:
def populate_dict(lst):
    output = {}
    for i in lst:
        output[i[0]] = i[1]
    return output
populate_dict([('DSC20', 'Python'), ('DSC10', 'Baby pandas'), ('DSC30', 'Java')])

{'DSC20': 'Python', 'DSC10': 'Baby pandas', 'DSC30': 'Java'}

In [6]:
def populate_dict(lst):
    output = {}
    for i in lst:
        output[i[0]] = i[1]
        return output
populate_dict([('DSC20', 'Python'), ('DSC10', 'Baby pandas'), ('DSC30', 'Java')])

{'DSC20': 'Python'}

In [7]:
def populate_dict(lst):
    output = {}
    for i in lst:
        for x,y in i:
            output[x] = y
    return output
populate_dict([('DSC20', 'Python'), ('DSC10', 'Baby pandas'), ('DSC30', 'Java')])

ValueError: too many values to unpack (expected 2)

<center><h3>Skill 2 (Update Dictionary)</h3></center>

<center>Write a function update_dict that takes in a dictionary, a key, and a new value. The function should update the value for the specified key by adding the old value with the new value and return the updated dictionary. </center>

In [ ]:
def update_dict(original_dict, key, val):
    """
    Function to update the value for the specified key.

    args:
        original_dict (dictionary): dictionary to be updated
        key (string): preexisting key in the dictionary
        val (int): new value to update with
    returns:
        the updated dictionary

    >>> original_dict = {'apples': 3, 'bananas': 10, 'grapes': 6}
    >>> new_dict = update_dict(original_dict, 'bananas', 4)
    >>> new_dict
    {'apples': 3, 'bananas': 14, 'grapes': 6}
    """

<center><h3>Select the correct way to implement the above function</h3></center>

A. 
```
return original_dict[key] += val
```
B.
```
for k in original_dict:
    if k == key:
        original_dict[k] += val
return original_dict
```
C.
```
original_dict[key] += val
return original_dict
```
D.
```
original_dict.update({key:val})
return original_dict
```

<center><h3>Skill 2 Solution</h3></center>

In [25]:
original_dict = {'apples': 3, 'bananas': 10, 'grapes': 6}

In [26]:
def update_dict(original_dict, key, val):
    original_dict[key] += val
    return original_dict
    
update_dict(original_dict, 'bananas', 4)

{'apples': 3, 'bananas': 14, 'grapes': 6}

In [27]:
original_dict = {'apples': 3, 'bananas': 10, 'grapes': 6}

In [28]:
def update_dict(original_dict, key, val):
    for k in original_dict:
        if k == key:
            original_dict[k] += val
    return original_dict
update_dict(original_dict, 'bananas', 4)

{'apples': 3, 'bananas': 14, 'grapes': 6}

In [29]:
original_dict = {'apples': 3, 'bananas': 10, 'grapes': 6}

In [32]:
def update_dict(original_dict, key, val):
    original_dict.update({key:val})
    return original_dict
update_dict(original_dict, 'bananas', 4)

{'apples': 3, 'bananas': 4, 'grapes': 6}

In [30]:
def update_dict(original_dict, key, val):
    return original_dict[key] += val
    
update_dict(original_dict, 'bananas', 4)

SyntaxError: invalid syntax (1337376701.py, line 2)

<center><h3>Skill 3 (Dictionary Keys/Values)</h3></center>

<center>Complete the doctest for the function update_dict to get all the values of the dictionary.</center>

In [34]:
def update_dict(original_dict, key, val):
    """
    Function to update the value for the specified key.

    >>> original_dict = {'apples': 3, 'bananas': 10, 'grapes': 6}
    >>> new_dict = update_dict(original_dict, 'bananas', 4)
    >>> new_dict
    {'apples': 3, 'bananas': 14, 'grapes': 6}


    ### COMPLETE DOCTEST BELOW ###
    >>> new_dict # finish this doctest so that the output matches the next line
    [3, 14, 6]
    """

A. new_dict.values

B. list(new_dict.values)

C. [3,14,6]

D. list(new_dict.values())

<center><h3> Closing Thoughts </h3></center>

- read the errors; if you don't know how to read them, go to office hours
- don't permutation test code to pass doctests, think about what you're actually writing
- remember that skill tests are intended to check **the most basic skills** of the topic possible; doing poorly on skill tests isn't the end, it means you need to shore up your basics
- note: homework doctests

<center><h2> Content</h2></center>

<center><h3> Lambda Functions </h3></center>
<ul>
    <li> known as anonymous functions (their functions are so simple, they don't need a name)
    <li> syntax: lambda (input): (some operation)
    <li> within the scope of this course, lambda is used in conjunction with map and filter

In [4]:
def add_2(x):
    return x+2
add_2(1)

3

In [5]:
func = lambda x: x+2
func(1)

3

<center><h3 style = 'color:blue'> Checkpoint </h3></center>

<center>Are the following 2 functions equivalent?</center>

In [6]:
def strip_caps(string):
    output = ''
    for char in string:
        if not char.isupper():
            output+=char
    return output

In [7]:
lambda_strip = lambda x: x if x.isupper() else ''

A. Yes

B. No

<center><h3 style = 'color:blue'> Checkpoint Solution</h3></center>

<center> nope! </center>

In [11]:
example = 'MARINAlanglois'

In [12]:
strip_caps(example)

'langlois'

In [13]:
''.join(list(map(lambda_strip, example)))

'MARINA'

<center><h3>Iterator</h3></center>
Iterator -
<b>Syntax: iter(iterable)</b>, <b>next(iterator)</b>
<ul>
    <li> An iterator in Python is an object that can be iterated upon, meaning that you can traverse through all the values.
    <li> Typically, an iterator is created from an iterable using the <code>iter()</code> function and the elements are accessed via the <code>next()</code> function.
    <li> Iterators remember the state as you traverse through them. The next call to <code>next()</code> starts off where the previous one stopped.
</ul>

In [74]:
with open('files/review.txt', 'r') as f:
    print(f.read())

DSC20 is so hard. It's probably the hardest class I've taken!
I have so many hard classes this quarter.

In [75]:
with open('files/review.txt', 'r') as f:
    f.readline()
    print(f.read())

I have so many hard classes this quarter.

In [78]:
with open('files/review.txt', 'r') as f:
    f.readlines()
    print(f.read())

<center><h3>Map</h3></center>
Map -
<b>Syntax: map(function, iterable)</b>
<ul>
    <li> Map allows you to apply a function to all elements to an iterable input
    <li> very common to use a lambda function as the function to apply
    <li> returns a lazy iterator through the iterable object, applying the function as it traverses
</ul>

In [12]:
data = [1,2,3,4,5]
list(map(lambda x:x+2, data))

[3, 4, 5, 6, 7]

<center><h3>Filter</h3></center>

Filter - 
<b>Syntax: filter(function, iterable)</b>
<ul>
    <li> Filter takes in a function that returns a boolean and only keeps elements that satisfy the function (i.e. return True).
    <li> Very common to use a lambda function as the function to apply, but keep in mind the function <b>must return a boolean</b>.
    <li> Returns a lazy iterator through the iterable object that only yields values that pass the function.
</ul>

In [14]:
data = [1,2,3,4,5]
list(filter(lambda x:x%2==0,data))

[2, 4]

<center><h3 style = 'color:blue'> Checkpoint </h3></center>

<center>Are the following 2 statements equivalent?</center>

In [16]:
data = list(range(0,101))

In [ ]:
lambda_map = lambda x: x*2 if x%2==0 else 0
sum(map(lambda_map, data))

In [ ]:
lambda_filter = lambda x: x%2==0
sum(map(lambda_map, filter(lambda_filter, data)))

A. Yes

B. No

<center><h3 style = 'color:blue'> Checkpoint Solution</h3></center>

<center> yep! </center>

In [19]:
data = list(range(0,101))

In [20]:
lambda_map = lambda x: x*2 if x%2==0 else 0
sum(map(lambda_map, data))

5100

In [21]:
lambda_filter = lambda x: x%2==0
sum(map(lambda_map, filter(lambda_filter, data)))

5100

<center><h3>Real Example</h3></center>

<center> Students complained before that I should relate what we learn to real life data science (How I can do that with basic python is beyond me), but this is one of the few times where there's a direct application </center>

In [39]:
import pandas as pd
data = pd.read_csv('data/reviews.csv')

In [40]:
data.shape

(568454, 10)

In [41]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

<center>Let's say I want to filter the entries down to entries from 2012. The Time column seems to be in unix time, which is not very human interpretable. Let's write an expression to transform it into something else.</center>

In [42]:
from datetime import datetime

In [43]:
data['Time'] = data['Time'].apply(lambda x: datetime.utcfromtimestamp(x))
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,2011-04-27,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,2012-09-07,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,2008-08-18,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,2011-06-13,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,2012-10-21,Great taffy,Great taffy at a great price. There was a wid...

In [52]:
data['Year'] = data['Time'].apply(lambda x: int(str(x)[:4]))

In [54]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Year
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,2011-04-27,Good Quality Dog Food,I have bought several of the Vitality canned d...,2011
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,2012-09-07,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,2012
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,2008-08-18,"""Delight"" says it all",This is a confection that has been around a fe...,2008
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,2011-06-13,Cough Medicine,If you are looking for the secret ingredient i...,2011
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,2012-10-21,Great taffy,Great taffy at a great price. There was a wid...,2012

In [56]:
data[data['Year']==2012].shape

(198659, 11)

<center><h2>practice questions</h2></center>

In [88]:
def create_iterator(data):
    """
    Write a function that takes in a list of values and creates
    a map instance that when called, will add 2 to each value
    if they're an int and cast each value to upper case if
    it's a string.
    
    args:
        data(list): list of values of either int or str type
    returns:
        map instance
    """
    
def filter_entries(data):
    """
    Write a function that filters the data according to these criteria:
        1) retain only string type entries
        2) each string entry needs to be even length
    
    args:
        data(list): list of various elements to be filtered
    returns:
        the list, filtered according to the criteria above.
        
    >>> filter_entries([1,2,'ab','cde','nicole', 10])
    ['ab', 'nicole']
    """
    return
    
def map_transforms(data):
    """
    Write a function that maps the following transformations:
        1) each entry should be .title()'d
        2) each entry should be reversed
        
    args:
        data(list): list of strings to be transformed
    returns:
        the list with the above transformations applied.
    
    >>> map_transforms(['ab', 'nicole'])
    ['bA', 'elociN']
    """
    return

def query_data(database, source, quality):
    """
    Write a function that takes in a dictionary and returns a list 
    of items from source that are at least of quality level.
    Requirement: map/filter/lambda only
    args:
        database(list): list of dictionary data entries
        source (str): string for source of items to be pulled
        quality(int): numerical representation of quality
    returns:
        a list of items from source that are at least of quality level
    
    >>> data = [
    {'name':'a', 'quality':4, 'source':'dsc'}, 
    {'name':'b','quality':10, 'source':'lign'}, 
    {'name':'c','quality':2, 'source':'dsc'}, 
    {'name':'d','quality':5, 'source':'dsc'}
    ]
    >>> query_data(data, 'dsc', 4)
    ['a','d']
    """
    # Write your implementation here
    return

<center><h2>practice question solutions</h2></center>

In [65]:
def create_iterator(data):
    func = lambda x: x*2 if isinstance(x,int) else x.upper()
    return map(func, data)

In [66]:
temp = create_iterator(['a',2,3, 'cde'])
temp

In [67]:
next(temp)

'A'

In [68]:
list(temp)

[4, 6, 'CDE']

In [90]:
def filter_entries(data):
    """
    Write a function that filters the data according to these criteria:
        1) retain only string type entries
        2) each string entry needs to be even length
    """
    func = lambda x: isinstance(x,str) and len(x)%2==0
    return list(filter(func, data))

filter_entries([1,2,'ab','cde','nicole', 10])

['ab', 'nicole']

In [7]:
def map_transforms(data):
    """
    Write a function that maps the following transformations:
        1) each entry should be .title()'d
        2) each entry should be reversed
    """
    func = lambda x: x.title()[::-1]
    return list(map(func, data))

temp = ['ab', 'nicole']
map_transforms(temp)

['bA', 'elociN']

In [9]:
data = [{'name':'a', 'quality':4, 'source':'dsc'}, 
    {'name':'b','quality':10, 'source':'lign'}, 
    {'name':'c','quality':2, 'source':'dsc'}, 
    {'name':'d','quality':5, 'source':'dsc'}]

In [10]:
def query_data(database, source, quality):
    """
    Write a function that takes in a dictionary 
    and returns a list of items from source that 
    are at least of quality level.

    >>> data = [{'name':'a', 'quality':4, 'source':'dsc'}, 
    {'name':'b','quality':10, 'source':'lign'}, 
    {'name':'c','quality':2, 'source':'dsc'}, 
    {'name':'d','quality':5, 'source':'dsc'}]
    >>> query_data(data, 'dsc', 4)
    ['a','d']
    """
    data_check = lambda x: x['source']==source and x['quality']>=quality
    filtered = filter(data_check, database)
    data_yield = lambda x:x['name']
    return list(map(data_yield, filtered))
query_data(data, 'dsc', 4)

['a', 'd']

<center> <h1>Thanks for coming!</h1></center>